<div id="home">
  <div class="container">
    <canvas id="mycanvas"></canvas>
    <div class="row">
      <div class="col-10 offset-1">
        {{!-- <h1>{{msg}}</h1> --}}
        <h1>Quaran-to-dos</h1>
        <h3>&bull; &bull; &bull;</h3>
        <h4>Keep yourself busy at home with these fun activities!<br>
        Create a list of to-dos to keep yourself on track.</h4>
        <br>
        {{!-- <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>

        <ul id="example-list">
        
        </ul> --}}

        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="examples/{{this.id}}">{{this.text}}</a>
          </li>
          {{/each}}
        </ul>
        {{!-- movies --}}
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed text-info" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Movies
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <div class="form-group input-group">

                  <label id="movie-label" for="movie-text" class="w-100">Search for a Movie: </label>
                  <input type="text" id="movie-text" class="form-control" aria-describedby="example-text" placeholder="Movie Title">
                  <span class="input-group-btn">
                    <button id="submitMovie" class="btn btn-primary float-right">Submit</button>
                  </span>
                </div>
                <ul id="movie-list" class="list-unstyled">
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed text-info" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Books
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <div class="form-group input-group">
                  <label id="book-label" for="book-text" class="w-100">Search for a Book: </label>
                  <input type="text" id="book-text" class="form-control" aria-describedby="example-text" placeholder="Book Title">
                  <span class="input-group-btn">
                    <button id="submitBook" class="btn btn-primary float-right">Submit</button>
                  </span>
                </div>
                <ul id="book-list" class="list-unstyled">
        
                </ul>
                filler
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
              
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Video Games

                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <div class="form-group input-group">
                  <label id="game-label" for="game-text" class="w-100">Search for a Game: </label>
                  <input type="text" id="game-text" class="form-control" aria-describedby="example-text" placeholder="Video Game Title">
                  <span class="input-group-btn">
                    <button id="submitGame" class="btn btn-primary float-right">Submit</button>
                  </span>
                </div>
                <ul id="game-list" class="list-unstyled">
        
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
              
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Songs

                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                <div class="form-group input-group">
                  <label id="song-label" for="song-text" class="w-100">Search for a Song: </label>
                  <input type="text" id="song-text" class="form-control" aria-describedby="song-text" placeholder="Song, artist, or album">
                  <span class="input-group-btn">
                    <button id="submitSong" class="btn btn-primary float-right">Submit</button>
                  </span>
                </div>
                <ul id="song-list" class="list-unstyled">
        
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script src="/js/index.js"></script>
<<<<<<< HEAD

=======
<script src="/js/timeline.js"></script>
>>>>>>> 2322aff410cd8575f721f29d7942784d8a1b8a02
